*{
    margin: 0;
    padding: 0;
}

/* Index */

#fondoInicio{
    background-color: #F2F5A9;
}

#tituloInicio{
    text-align: center;
    font-family: Broadway, fantasy;
    font-size: 37px;
    color: #FFB6C1;
    letter-spacing: 10px;
    margin-top: 250px;
}

.btnInicio{
    position: relative;
    top: 10px;
    left: 410px;
}

footer{
    background-color: #FFB6C1;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-family: "Bookman Old Style", serif;
    font-size: 16px;
    color: #000000;
}

/* Teórico */

body{
    background-color: #FFFFFF;
}

header{
    background-color: #F3F781;
    width: 100%;
    height: 100px;
    display: flex;
}

header img{
    width: 37px;
    height: 37px;
    padding-top: 31px;
    padding-left: 60px;
}

header h1{
    font-family: Broadway, fantasy;
    font-size: 37px;
    color: #FFB6C1;
    letter-spacing: 10px;
    padding-top: 31px;
    padding-left: 113px;
}

.cajaElegir{
    margin-top: 170px;
    margin-left: 130px;
    background-color: transparent;
    width: 203px;
    height: 143px;
}

.boton1{
    width: 193px;
    height: 37px;
    margin: 5px 5px 5px 5px;
    background-color: #FFB6C1;
    border: none;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    font-family: "Bookman Old Style", serif;
    font-size: 16px;
    color: #000000;
}

.boton1:hover{
    background-color: #F6CEE3;
}

.cajaInfo{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    height: 450px;
    background-color: #F2F5A9;
    overflow: scroll;
}

.contenedor{
    display: flex;
}

article{
    font-family: "Bookman Old Style", serif;
    font-size: 16px;
    color: #000000;
    padding: 30px 50px 30px 50px;
    text-align: justify;
}

.imgVid{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
}

/* Práctico */

.texto{
    text-align: center;
    font-family: "Bookman Old Style", serif;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    border-bottom: 3px solid #FFB6C1;
}

input{
    margin-top: 30px;
    width: 100px;
    height: 20px;
}

canvas{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 550px;
    height: 250px;
    border: 1px solid #D3D3D3;
}

.boton2{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
